@charset "UTF-8";


/************************************************공통***************************************************/

/* margin, padding reset */
body, div, ol, ul, li, dl, dt, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form{
    margin: 0px;
    padding: 0px;
}

/* body */
body{
    font-family: "맑은 고딕", 돋움, 굴림;
    font-size: 12px;
}

/* clearfix */
.clearfix::before, .clearfix::after {display: block; content: ""; line-height: 0;}
.clearfix::after {clear: both;}

/* a태그 관리*/
a:link{text-decoration: none; color: #000;} /* 방문전 링크일때  */
a:visited{text-decoration: none; color:#000;} /* 방문했던 링크일때 */
a:hover{text-decoration: none; color: #000;} /* 마우스오버일때  */
a:active{text-decoration: none; color:#000;}  /* 클릭했을때 */ 

/* ul ol */
ul, ol{
    list-style-type: none;
}
/*********************************************** //공통 **************************************************/




/**********************************************레이아웃*************************************************/
#wrap-main{
    width: 1000px;
    margin: 0 auto; /* margin : 상하 / 좌우 */
}

#wrap-main #header{
    padding: 10px 0;
    border-bottom: 1px solid #9c9696;
    background-color: #fff;
   /* border: 1px solid #000; */
}

#wrap-main #nav{
    padding: 15px 0;
    border-bottom: 1px solid #9c9696;
    background-color: #fff;
   /* border: 1px solid #000; */
}

#wrap-main #contents{ /* 메인페이지 1단*/
    padding: 30px 10px 30px 10px;
    background-color: #fff;
}

#wrap-main #contents-a{ /* 서브페이지 2단*/
    padding: 20px 0 20px 0;
}

#wrap-main #footer{
    padding: 15px 10px 15px 10px;
    background-color: #a09797;
    text-align: center;
    border: 1px solid #000;
    color: #000;
}
/********************************************* //레이아웃 ************************************************/




/*********************************************** header **************************************************/
#header h1{ /* 로고 */
    float: left;
    font-size: 35px;
    color: #79b30b;
}
#header ul{
    float: right;
    margin: 20px 0 0 0;
}
#header ul>li{
    float: left;
    margin: 0 0 0 10px;
    padding: 3px 3px 3px 3px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    font-size: 10px;
}
#header h1>a:link{text-decoration: none; color: #79b30b;} /* 방문전 링크일때  */
#header h1>a:visited{text-decoration: none; color:#79b30b;} /* 방문했던 링크일때 */
#header h1>a:hover{text-decoration: none; color: #79b30b;} /* 마우스오버일때  */
#header h1>a:active{text-decoration: none; color:#79b30b;} /* 클릭했을때 */


/********************************************** //header **************************************************/





/******************************************************** nav ******************************************/
#nav ul>li{
    float:left;
    width: 248px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
/****************************************************** //nav ******************************************/






/***************************************************** footer *******************************************/
#footer p{
    font-size: 15px;
}
/**************************************************** //footer ******************************************/





/********************************************* contents-a(선택게시판) ********************************************/
#contents-a #a-side{
    float: left;
    width: 180px;
}
#contents-a #a-side h2{
    width: 160px;
    height: 60px;
    background-color: #ddd;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 60px; /* height 와 같은 값을 입력하면 중앙에 위치함 / 한줄일때만 적용 */
}
#contents-a #a-side ul{
    width: 160px;

}
#contents-a #a-side ul>li{
    border: 1px solid #a6a6a6;
    padding: 8px 0 8px 10px;
    margin: 5px 0 0 0;
    font-size: 15px;
}
#contents-a #main{
    float: left;
    width: 816px;
}
#contents-a #main #join{
    border-bottom: 1px solid #adacac;
    padding: 10px 0 10px 0;
}

#contents-a #main #join h3{
    float: left;
    font-size: 15px;
}
#contents-a #main #join ul{
    float: right;
    padding: 7px 0 0 0 ;
    font-size: 11px;
}
#contents-a #main #join ul>li{
    float: left;
    
}
#contents-a #main #join ul>li::after{
    content: ">";
    margin: 0 5px 0 5px;
}
#contents-a #main #join ul>li:last-child:after{
    content: "";
}
/**************************************************** //contents-a ******************************************/