@charset "UTF-8";

body>ol>li{
    list-style-type: none;
    float:left;
    margin-right: 10px;
    
}

body>ol>li::after{
    padding: 10px;
    content: ">";
}
body>ol>li:last-child:after{
    content: "";
}
    

