<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MySite</title>
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/user.css">
</head>

<body>
    <div id="wrap-main">
        <div id="header" class="clearfix">
            <h1><a href="">MySite</a></h1>
            <ul class="clearfix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
        </div><!-- //header-->
        <div id="nav">
            <ul class="clearfix">
                <li><a href="">입사지원서</a></li>
                <li><a href="">게시판</a></li>
                <li><a href="">갤러리</a></li>
                <li><a href="">방명록</a></li>
            </ul>
        </div><!-- //nav -->
        <div id="contents-a" class="clearfix">
            <div id="a-side">
                <h2>회원</h2>
                <ul>
                    <li><a href="">회원정보</a></li>
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                </ul>
            </div><!-- //a-side -->
            <div id="main">
                <div id="join" class="clearfix">
                    <h3>회원가입</h3>
                    <ul>
                        <li><a href="">홈</a></li>
                        <li><a href="">회원</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div><!-- h3접속 -->
                <div id="userJoin">
                    <div class="form-group">
                        <label for="user-id" class="form-title">아이디</label>
                        <input id="user-id" type="text" placeholder="아이디를 입력하세요">
                        <button type="submit">중복체크</button>
                    </div>
    
                    <div class="form-group">
                        <label for="user-pw" class="form-title">패스워드</label>
                        <input id="user-pw" type="password" placeholder="비밀번호를 입력하세요">
                    </div>

                    <div class="form-group">
                        <label for="user-name" class="form-title">이름</label>
                        <input id="user-name" type="text" placeholder="이름을 입력하세요">
                    </div>

                    <div class="form-group">
                        <span class="form-title">성별</span>
                        <label for="user-man">남</label>
                        <input id="user-man" type="radio" name="user-gender" value="man">
                        <label for="user-woman">여</label>
                        <input id="user-woman" type="radio" name="user-gender" value="woman">
                    </div>

                    <div class="form-group">
                        <label for="chk" class="form-title">약관동의</label>
                        <input id="chk" type="checkbox">
                        <span>서비스 약관에 동의합니다.</span>
                    </div>

                    <div class="user-button">
                        <button type="submit">회원가입</button>
                    </div>
                </div><!-- //userJoin -->
            </div><!-- //main -->
            
        </div> <!-- //contents-a -->
        <div id="footer">
            <p>
                Copyright ⓒ2024 유승수 All right reserved 
            </p>
        </div><!-- //footer -->
    </div><!-- //wrap-main-->
</body>
</html>