<!DOCTYPE html>

<html lang="ko"> <!-- 한국어문서만 검색할때, 음성으로 할때 한국어 음성지원 -->
<head>
    <meta charset="UTF-8"> <!-- 브라우저가 문서를 해석할때 필요한 정보-->
    <title>JBlog</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <div id="wrap-main">
        <div id="header" class="clearfix">
            <h1>
                <a href=""><img src="../../assets/images/logo.jpg"></a>
            </h1>

            <ul class="clearfix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
        </div> <!-- //header -->

        <div id="contents">
            <div id="contents-login">
                
            </div> <!-- //contents-login -->   
        </div> <!-- //contents -->
        
        <div id="main-footer" class="clearfix">
            <ul>
                <li><a href="">회사소개</a></li>
                <li><a href="">서비스소개</a></li>
                <li><a href="">이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="">제휴</a></li>
                <li><a href="">채용</a></li>
                <li><a href="">고객센터</a></li>
                <li><a href="">ⓒ방구석 internet</a></li>
            </ul>
        </div> <!-- //main-footer -->
    </div> <!-- //wrap-main -->
</body>
</html>
