<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MySite</title>
    <link rel="stylesheet" href="../../assets/css/mysite.css" >
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <div id="wrap-main">
        <div id="header" class="clearfix">
            <h1>MySite</h1>
            <ul class="clearfix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
        </div><!-- //header-->

        <div id="nav">
            <ul class="clearfix">
                <li><a href="">입사지원서</a></li>
                <li><a href="">게시판</a></li>
                <li><a href="">갤러리</a></li>
                <li><a href="">방명록</a></li>
            </ul>
        </div><!-- //nav -->

        <div id="contents" class="clearfix">
            <img id="profile" src="../../assets/images/jung.jpg">
            <div id="greeting-box">
                <p id="greeting">
                    안녕하세요!! <br>
                    유승수의 MySite에 오신 것을 환영합니다.<br>
                    <br>
                    이 사이트는 웹 프로그래밍 실습과제 예제 사이트입니다.
                    <br>
                </p>
                <p>
                    <br>
                    사이트 소개, 회원가입, 방명록, 게시판으로 구성되어 있으며
                    jsp&serlvet(모델2)방식으로 제작되었습니다.
                    <br><br>
                    자바 수업 + 데이트베이스 수업 + 웹프로그래밍 수업 
                    배운거 있는거 없는 거 다 합쳐서 만들어 놓은 사이트 입니다.
                    <br><br>
                    (자유롭게 꾸며보세요!!)
                    <br><br>
                    <a href="">[방명록에 글남기기]</a>
                </p>
            </div><!-- //greeeting-box -->
        </div><!-- //contents -->

        <div id="footer">
            <p>
                Copyright ⓒ2024 유승수 All right reserved 
            </p>
        </div><!-- //footer -->
    </div><!-- //wrap-main-->
</body>
</html>